.phone-device-wrapper {
  position: relative;
  width: 100%;
  height: calc(868px * 0.72);
  flex-shrink: 0;
}

.phone-device-wrapper .device.device-iphone-14-pro {
  position: absolute;
    left: 50%;
  top: 0;
    transform: translateX(-50%) scale(0.72);
  transform-origin: top center;
}